@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    height: 100dvh;
    width: 100dvw;
    font-family: "Roboto", serif;
  }

.custom-button-red {
    @apply bg-[#7B1113] border-[#7B1113] flex justify-center items-center inline-block text-white text-sm font-normal transition-all w-auto !important;
    &:hover {
      @apply text-white border-white !important;
    }
    &:not(.is-disabled):active {
      @apply text-black bg-[#7B1113] border-transparent !important;
    }
}

.custom-button-black {
  @apply bg-[#2d2d2d] border-[#2d2d2d] flex justify-center items-center inline-block text-white text-sm font-normal transition-all w-auto !important;
  &:hover {
    @apply text-white border-white !important;
  }
  &:not(.is-disabled):active {
    @apply text-black bg-[#2d2d2d] border-transparent !important;
  }
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100dvh;
}